import telebot
from telebot import token
tkn=""
bot = telebot.TeleBot(tkn)

# @bot.message_handler(commands=["start"])
# def start(message):
#
#     markup = types.ReplyKeyboardMarkup(resize_keyboard=True)
#     btn1 = types.KeyboardButton("RU Русский")
#     btn2 = types.KeyboardButton("GB Русский")
#     markup.add(btn1, btn2)
#     bot.send_message(message.from_user.id, "RU Выберите язык / GB Choose you language", reply_markup=merkup)

@bot.message_handler(commands=["start"])
def start(message):

    markup = types.ReplyKeyboardMarkup(resize_keyboard=True)
    btn1 = types.KeyboardButton("Поздороапться")
    markup.add(btn1)
    bot.send_message(message.from_user.id, "Привет я твой бот-помошник", reply_markup=merkup)


@bot.message_handler(commands=["start"])
def start(message):
    if message.text == "Поздороваться":

        markup = types.ReplyKeyboardMarkup(resize_keyboard=True)
        btn1 = types.KeyboardButton("Как стать автором на Хабре")
        btn2= types.KeyboardButton("Правила сайта")
        btn3= types.KeyboardButton("Советы по оформлению публикации")
        markup.add(btn1, btn2, btn3)
        bot.send_message(message.from_user.id, "Задайте интересующий вопрос",reply_markup=merkup)
    elif message.text == "Как стать автором на Хабре?":
        bot.send_messabe(message.from_user.id, "a", parse_mode="Markdown")
    elif message.text == "Правила сайта":
        bot.send_messabe(message.from_user.id, "a", parse_mode="Markdown")
    elif message.text == "Советы по оформлению публикации":
        bot.send_messabe(message.from_user.id, "a", parse_mode="Markdown")
    bot.send_message(message.from_user.id, "", parse_mode="Markdown")

bot.polling(none_stop=True, interval=0)
